
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>❤️The Library App</p>
  </div>
</div>
<script>
  console.log("SCRIPT");
  document.addEventListener.on("click", postData)
  function postData(){
const form=document.getElementById("searchbox");
formData=new formData(form);
console.log("INNNNNN");
formData.append('username',username); 
fetch("http://localhost:3000/home",
{
    method: "POST",
    body: JSON.stringify(formData)
})
.then(function(res){ console.log(res) })
.catch(function(res){ console.log(res) });}

</script>
</body>
</html>