<nav class="navbar navbar-expand-md nav-home">
    <div class="navbar-brand brand">LibraryApp</div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
        
                <li class="nav-item">
                    <a class="nav-link links navig-links" href="#">Favourites</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link links navig-links" href="#">To Read</a>
                </li>
              </ul>
              <!-- <form class="form-inline"> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle drop-arrow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Dropdown <i class="fas fa-search"></i>
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                  <a class="dropdown-item drops" href="#">All</a>
                  <a class="dropdown-item drops" href="#">Title</a>
                  <a class="dropdown-item drops" href="#">Authors</a>
                  <a class="dropdown-item drops" href="#">Subject</a>
                </div>
              </li> -->
              <form id="searchbox" class="search-icon">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <button type="submit" name="" class="fa-icons buttons input-group-text"><i class="fas fa-search"></i></button>
                    </div>
                    <input name="search" type="text" class="form-control" placeholder="search">
                </div>
              </form>
          </div>
</nav> 