<nav class="navbar navbar-expand-md nav-home">
    <a class="navbar-brand brand" href="/home" role="button">Library App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
        
                <li class="nav-item">
                    <a class="nav-link links navig-links" href="#">Favourites</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link links navig-links" href="#">To Read</a>
                </li>
              </ul>
              <!-- <form class="form-inline"> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle drop-arrow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Dropdown <i class="fas fa-search"></i>
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                  <a class="dropdown-item drops" href="#">All</a>
                  <a class="dropdown-item drops" href="#">Title</a>
                  <a class="dropdown-item drops" href="#">Authors</a>
                  <a class="dropdown-item drops" href="#">Subject</a>
                </div>
              </li> -->
              <form class="search-icon" action="/home" method="POST">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <button type="submit" id="searchbox"  class="fa-icons buttons input-group-text"><i class="fas fa-search"></i></button>
                    </div>
                    <input name="search" id="search"type="text" class="form-control" placeholder="search">
                </div>
              </form>
              <!-- <script>
              document.getElementById("searchbox").addEventListener("click", postData)
              function postData(){
              const search=document.getElementById("search").value;
              const username=document.getElementById("username").innerText;
              const data={username:username,search:search};
              fetch("/home",
              {
                  method: "POST",
                // no-cors, *cors, same-origin
                  cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                  credentials: 'same-origin', // include, *same-origin, omit
                  headers: {'Content-Type': 'application/json'},
                  redirect: 'manual', // manual, *follow, error
                  referrerPolicy: 'no-referrer',
                  body: JSON.stringify(data)
              })
              .catch(function(res){ console.log(res) });
              }
              </script> -->
          </div>
</nav> 