<%-include("partials/header")-%>
<%-include("partials/navbar")-%>
<img class="home-img" src="/bluebooks.jpg" alt="library photo">
<div class="home-text">
    <h1>Welcome <%=username%></h1>
    <h3>Get immersed in the world of books!</h3>
</div>

<div class="home-carousel carousel-section">
    <div class="carousel-section-header">
        <h2>Favourites</h2>
    </div>
    <section id="display-carousel">
        <div id="recent-display" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <%for(i=0; i<4; i++){%>
                            <div class="col-md-3">
                                <div class="carousel-card card mb-2">
                                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg">
                                  <div class="card-body">
                                    <h4 class="card-title">BOOKHOME</h4>
                                    <p class="card-text">blahblah</p>
                                    <a class="btn btn-primary">Button</a>
                                  </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
                <%for(i=4; i<20; i++){%>
                <div class="carousel-item">
                    <div class="row">
                        <%for(j=0; j<4; j++,i++){%>
                            <div class="col-md-3">
                                <div class="carousel-card card mb-2">
                                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg">
                                  <div class="card-body">
                                    <h4 class="card-title">BOOK1</h4>
                                    <p class="card-text">blahblah</p>
                                    <a class="btn btn-primary">Button</a>
                                  </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
                <%}%>
            </div>
            <a class="carousel-btn-l carousel-control-prev" href="#recent-display" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" ></span>
            </a>
            <a class="carousel-btn-r carousel-control-next" href="#recent-display" role="button" data-slide="next">
                <span class="carousel-control-next-icon" ></span>
            </a>
        </div>
    </section>
</div>

<%-include("partials/footer")-%>


