/* import url('https://fonts.googleapis.com/css?family=Numans'); */

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

body
{
    background-color: #ccf2f8;
}

h6{
    font-family: sans-serif;
    color: white;
    margin-top: 1.7em;
}

.sign-container{
height: 100%;
align-content: center;
position: relative;
}

.sign-card{
margin-right: 40%;
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #416c8b!important;
}

.sign-card-header h3{
    color: white;
    margin-top: 0.5em;
}


.input-group-prepend .fa-icons{
width: 50px;
background-color:rgba(163, 204, 216, 0.959);
color: rgb(95, 94, 94);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.login_btn{
color: rgba(0, 0, 0, 0.548);
background-color:rgba(163, 204, 216, 0.959);
width: 100px;
margin-left: 0;
}

.buttons:hover{
color: black;
background-color: rgb(196, 243, 255);
align-items: center;
}

.link-text{
color: rgb(255, 255, 255);
}

.links
{
margin-left: 4em;
margin-right: 0.5em;
color: rgba(156, 212, 212, 0.877);
}

.links:hover
{
    color: rgba(214, 209, 209, 0.836);
}

.bgWelcomeImage{
    filter: blur(0px);
    position: absolute
}

.footer
{
    text-align: center;
    background-color: rgb(195, 227, 248);
    /* background-color: rgba(144, 227, 255, 0.548); */
    color: rgba(102, 135, 145, 0.959);
}

.nav-home
{
    background-color: #416c8b;
    height: 15%;
    font-family: sans-serif;
    color:white;
}

.navbar-brand
{
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: bold;
    color:white;
}
.navbar-brand:hover
{
    color: rgb(248, 239, 109);
}

.navig-links
{
    color: rgb(195, 227, 248);
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.hamburger
{
    border: black;
}

.search-icon
{
    margin-top: 1rem;
    outline: none;
}

.home-img
{
    width: 100%;
    height: 75%;
    filter: blur(10px);
}

.home-text
{
    /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0, 0.4);  */
  background-color: #c1d6e7a4; 
  color: #084952c9;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0.5;
  width: 100%;
  padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
}

.search-card
{
    background-color: rgb(166, 218, 231);
    margin: 2rem 10% 1rem 10%;
    height: 15rem;
}

.search-book-img
{
    margin: 1rem ;
}

.title
{
    font-size: 2rem;
    font-weight:bold;
    font-family: sans-serif;
    margin-top: 1rem;
    margin-right: 1rem;
    color: rgba(13, 81, 99, 0.884);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6rem;
    max-width: 85%;
}
.author
{
    font-size: 1.3rem;
    font-family: sans-serif;
    color: rgba(18, 99, 122, 0.836);
}
.summary
{
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(20, 104, 128, 0.884);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
}
.read-btn
{
    color: rgb(255, 255, 255);
    background-color:rgba(64, 115, 131, 0.959);
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    right:    1rem;
    bottom:   1rem;
    border: 0; 
    padding: 0; 
    text-align: center;
}
.fav-btn
{
    position: absolute;
    right:    6rem;
    bottom: 1rem;
    color: white;
    padding: 0.2rem; 
    outline:none;
    background-color:rgba(64, 115, 131, 0.959);
    border: 0;
    height: 2.5rem;
    cursor:pointer;
    overflow: hidden;
    box-shadow: 0 0 0 0
}
/* .fav-btn:hover
{
    color: white;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
} */
.fav-btn:focus
{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}
.favourited
{
    color: rgb(253, 84, 121);
}

.book-icon
{
    margin-left: 1.4rem;
}

.carousel-card
{
    background-color: rgb(166, 218, 231);
    width: 60%;
    height: 20rem;
    /* margin-left: 5rem; */
    border: 0;
}

.card-img-top
{
    position: relative;
    height: 80%;
}

.read-btn
{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}
.display-carousel
{
    height: 30%;
    background-color: violet;
}
.carousel-btn-l
{
    padding: 0;
}
.carousel-btn-r
{
    padding: 0;
}
.carousel-arrows{
    position: absolute;
    top:100%;
}