@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

body
{
    background-color: rgb(204, 242, 248);
}

h6{
    font-family: sans-serif;
    color: white;
    margin-top: 1.7em;
}

.sign-container{
height: 100%;
align-content: center;
position: relative;
}

.sign-card{
margin-right: 40%;
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #416c8b!important;
}

.sign-card-header h3{
    color: white;
    margin-top: 0.5em;
}


.input-group-prepend .fa-icons{
width: 50px;
background-color:rgba(163, 204, 216, 0.959);
color: rgb(95, 94, 94);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: rgba(0, 0, 0, 0.548);
background-color:rgba(163, 204, 216, 0.959);
width: 100px;
margin-left: 0;
}

.buttons:hover{
color: black;
background-color: rgb(196, 243, 255);
align-items: center;
}

.link-text{
color: rgb(255, 255, 255);
}

.links
{
margin-left: 4em;
margin-right: 0.5em;
color: rgba(156, 212, 212, 0.877);
}

.links:hover
{
    color: rgba(214, 209, 209, 0.836);
}

.bgWelcomeImage{
    filter: blur(0px);
    position: absolute
}

.footer
{
    text-align: center;
    background-color: rgb(195, 227, 248);
    /* background-color: rgba(144, 227, 255, 0.548); */
    color: rgba(102, 135, 145, 0.959);
}

.nav-home
{
    background-color: #416c8b;
    height: 15%;
    font-family: sans-serif;
    color:white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    z-index: 1;
}

.brand
{
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: bold;
    /* color: rgb(204, 247, 250); */
}

.navig-links
{
    color: rgb(195, 227, 248);
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.hamburger
{
    border: black;
}

.search-icon
{
    margin-top: 1rem;
}

.home-img
{
    width: 100%;
    height: 75%;
    filter: blur(10px);
}

.home-text
{
    /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0, 0.4);  */
  background-color: #c1d6e7a4; 
  color: #084952c9;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0.5;
  width: 100%;
  padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
}

.search-card
{
    background-color: rgb(166, 218, 231);
    margin: 2rem 10% 1rem 10%;
    height: 15rem;
}

.search-book-img
{
    margin: 1rem ;
}

.title
{
    font-size: 2rem;
    font-weight:bold;
    font-family: sans-serif;
    margin-top: 1rem;
    color: rgba(13, 81, 99, 0.884);
}
.author
{
    font-size: 1.3rem;
    font-family: sans-serif;
    color: rgba(18, 99, 122, 0.836);
}
.summary
{
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-top: 1rem;
    color: rgba(20, 104, 128, 0.884);
}
.read-btn
{
    margin-right: 1rem;
    margin-top: 7.3rem;
    color: rgb(255, 255, 255);
    background-color:rgba(64, 115, 131, 0.959);
    width: 4rem;
    height: 2.5rem;
    border: 0;
    padding: 0;
    text-align: center;
}
.rating
{
    margin-top: 1rem;
    margin-right: 1rem;
    color: rgba(20, 104, 128, 0.884);
    font-size: 1.1rem;
}
.book-icon
{
    margin-left: 1.4rem;
}

.carousel-card
{
    background-color: tomato;
    height: 50%;
    width: 60%;
    margin-left: 5rem;
}
.display-carousel
{
    height: 30%;
    background-color: violet;
}
.carousel-btn-l
{
    padding: 0;
}
.carousel-btn-r
{
    padding: 0;
}