@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

h6{
    font-family: sans-serif;
    color: white;
    margin-top: 1.7em;
}

.container{
height: 100%;
align-content: center;
position: relative;
}

.card{
margin-right: 40%;
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #416c8b!important;
}

.card-header h3{
    color: white;
    margin-top: 0.5em;
}


.input-group-prepend .fa-icons{
width: 50px;
background-color:rgba(163, 204, 216, 0.959);
color: rgb(95, 94, 94);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: rgba(0, 0, 0, 0.548);
background-color:rgba(163, 204, 216, 0.959);
width: 100px;
margin-left: 0;
}

.buttons:hover{
color: black;
background-color: rgb(196, 243, 255);
align-items: center;
}

.link-text{
color: rgb(255, 255, 255);
}

.links
{
margin-left: 4em;
margin-right: 0.5em;
color: rgba(156, 212, 212, 0.877);
}

.links:hover
{
    color: rgba(214, 209, 209, 0.836);
}

.bgWelcomeImage{
    filter: blur(0px);
    position: absolute
}

.footer
{
    text-align: center;
    background-color: rgb(195, 227, 248);
    /* background-color: rgba(144, 227, 255, 0.548); */
    color: rgba(102, 135, 145, 0.959);
}

.nav-home
{
    background-color: #416c8b;
    height: 15%;
    font-family: sans-serif;
    color:white;
}

.brand
{
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: bold;
    /* color: rgb(204, 247, 250); */
}

.navig-links
{
    color: rgb(195, 227, 248);
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.hamburger
{
    border: black;
}

.drop-arrow
{
    color: white;
    margin-bottom: 1rem;
}

.drop-arrow:hover
{
    color: rgb(195, 227, 248);
    margin-bottom: 1rem;
}

.drops:hover
{
    background-color: rgb(195, 227, 248);
}

.drops:onclick
{
    background-color: rgb(136, 181, 211);
    color: yellow;
}

.search-icon
{
    margin-top: 1rem;
}

.home-img
{
    width: 100%;
    height: 75%;
    filter: blur(4px);
}

.home-text
{
    /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0, 0.4);  */
  background-color: #c1d6e7a4; 
  color: #ffffffaf;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
  /* border: 3px solid #f1f1f1; */
}